# Task 4: Feature Encoding & Scaling

# 1️⃣ Load Dataset (With Column Names)

In [3]:
import pandas as pd

columns = [
    "age","workclass","fnlwgt","education","education-num",
    "marital-status","occupation","relationship","race","sex",
    "capital-gain","capital-loss","hours-per-week","native-country","income"
]

df = pd.read_csv("adult.csv", names=columns)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

# 2️⃣ Identify Categorical & Numerical Features

In [6]:
categorical_features = df.select_dtypes(include=['object']).columns
numerical_features = df.select_dtypes(include=['int64', 'float64']).columns

print("Categorical:", categorical_features)
print("Numerical:", numerical_features)

Categorical: Index(['workclass', 'education', 'marital-status', 'occupation',
       'relationship', 'race', 'sex', 'native-country', 'income'],
      dtype='object')
Numerical: Index(['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week'],
      dtype='object')

# 3️⃣ Clean Whitespace

In [10]:
df = df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

# 4️⃣ Label Encoding (Where Order Exists)

We encode :-
    -- income (target)
    -- education (has order)

In [13]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['income'] = le.fit_transform(df['income'])
df['education'] = le.fit_transform(df['education'])

# 5️⃣ One-Hot Encoding (No Order)

In [16]:
df_encoded = pd.get_dummies(df, columns=[
    'workclass','marital-status','occupation',
    'relationship','race','sex','native-country'
])

# 6️⃣ Scale Numerical Features (StandardScaler)

In [19]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df_encoded[numerical_features] = scaler.fit_transform(df_encoded[numerical_features])

# 7️⃣ Compare Before & After Scaling

➜ Before

In [22]:
df[numerical_features].describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

➜ After

In [24]:
df_encoded[numerical_features].describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,3.256100e+04,3.256100e+04,3.256100e+04,3.256100e+04,3.256100e+04,3.256100e+04
mean,-2.705915e-17,-1.001625e-16,1.471887e-16,1.309314e-17,1.016900e-16,-1.549355e-17
std,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00,1.000015e+00
min,-1.582206e+00,-1.681631e+00,-3.529656e+00,-1.459205e-01,-2.166595e-01,-3.194030e+00
25%,-7.757679e-01,-6.816910e-01,-4.200596e-01,-1.459205e-01,-2.166595e-01,-3.542945e-02
50%,-1.159546e-01,-1.082193e-01,-3.136003e-02,-1.459205e-01,-2.166595e-01,-3.542945e-02
75%,6.904838e-01,4.478765e-01,7.460392e-01,-1.459205e-01,-2.166595e-01,3.695194e-01
max,3.769612e+00,1.226856e+01,2.300838e+00,1.339458e+01,1.059351e+01,4.742967e+00

# 8️⃣ Explain impact of scaling on ML algorithms

➜ Scaling improves :-
    -- KNN
    -- SVM
    -- Logistic Regression
    -- Neural Networks    

➜ Not much needed for :-
    -- Decision Trees
    -- Random Forest

➜ Benefits :-
    -- Faster training
    -- Better accuracy
    -- No bias toward large-value features

# 9️⃣ Save processed dataset

In [28]:
df_encoded.to_csv("adult_preprocessed.csv", index=False)